name: AWS Terraform Apply

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  aws-test:
    runs-on: ubuntu-latest
    steps:

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{secrets.AWS_ACCOUNT_ID}}:role/github-actions-oidc
          aws-region: eu-central-1

      - name: Terraform apply
        run: echo "Terraform apply would run here"